<a href="https://colab.research.google.com/github/sarasabino/Sistema_Recomendacion_BBDD_Explotaciones/blob/main/MVP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MVP - BBDD Generation recommender system

One of the main difficulties on the implementation of this project is the fact that the data needs to be standarized in order to be able to compare. 

For the purpose to present the idea in a clear way this notebook present a simple example of how the recommender system will proceed once the data is all standarized. 

This problem with the data is not going to be present once this previous work is done because once the project is in "pro" version the user will feed the system with their answers in a standarized way. It will be only be relevant to keep going the recommender as first place. 

The data use in this notebook is totally manipulated to be able to compare at first without doing the standarizing exercise as it will be taking long.

In [71]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os
import time

In [72]:


! cp /content/drive/MyDrive/projects_with_tables.csv .

In [73]:
test_file = pd.read_csv('projects_with_tables.csv', sep = ';', header=None)

In [74]:
test_file.head()

                0   ...                          14
0             RRHH  ...                         NaN
1  Brecha Salarial  ...                         NaN
2             RRHH  ...                         NaN
3             RRHH  ...                         NaN
4             RRHH  ...  u_rhh_carga_subactividades

[5 rows x 15 columns]

In [75]:
#We set all text in the df to lowercase
test_file = test_file.apply(lambda x : x.str.lower())

test_file.head()

                0   ...                          14
0             rrhh  ...                         NaN
1  brecha salarial  ...                         NaN
2             rrhh  ...                         NaN
3             rrhh  ...                         NaN
4             rrhh  ...  u_rhh_carga_subactividades

[5 rows x 15 columns]

In [76]:
#sustuimos todos los espacios de los nombres de las tablas pcon _

for column in test_file.columns:
    test_file[column] = test_file[column].str.replace(' ', '_')

In [77]:
test_file.head()

                0   ...                          14
0             rrhh  ...                         NaN
1  brecha_salarial  ...                         NaN
2             rrhh  ...                         NaN
3             rrhh  ...                         NaN
4             rrhh  ...  u_rhh_carga_subactividades

[5 rows x 15 columns]

In [78]:
#We create a new column with a list containing all tables in that project

test_file['tables'] = test_file.loc[:,test_file.columns != 0].values.tolist()

test_file.head()

                 0  ...                                             tables
0             rrhh  ...  [plantilla_mensual, tipo_contrato, categoria_p...
1  brecha_salarial  ...  [plantilla_mensual, brecha_salarios, tipo_cont...
2             rrhh  ...  [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3             rrhh  ...  [entidades_rrhh, indicadores_rrhh, periodos_in...
4             rrhh  ...  [indicadores_rsc, rrhh_altas, rrhh_bajas, r_rh...

[5 rows x 16 columns]

In [79]:
test_file['tables']

0    [plantilla_mensual, tipo_contrato, categoria_p...
1    [plantilla_mensual, brecha_salarios, tipo_cont...
2    [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3    [entidades_rrhh, indicadores_rrhh, periodos_in...
4    [indicadores_rsc, rrhh_altas, rrhh_bajas, r_rh...
5    [brecha_salarial, brecha_ajustada, ids_a_exclu...
6    [plantilla_anual, movimientos_plantilla_unica,...
7    [d_hs_causa, tipo_contrato, d_hs_empresa, d_hs...
8    [canal_gestion_responsable, criticidad, delega...
9    [gen_cuestionario, gen_ambito1, gestdoc_ambito...
Name: tables, dtype: object

We drop the individual table name columns in order to get a df with only the project name and the tables list

In [80]:
test_file.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'tables'], dtype='object')

In [81]:
project_with_tables = test_file.drop(columns = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

In [82]:
project_with_tables_nan = project_with_tables.rename(columns={0:'Project'})

In [83]:
project_with_tables_nan.head()

           Project                                             tables
0             rrhh  [plantilla_mensual, tipo_contrato, categoria_p...
1  brecha_salarial  [plantilla_mensual, brecha_salarios, tipo_cont...
2             rrhh  [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3             rrhh  [entidades_rrhh, indicadores_rrhh, periodos_in...
4             rrhh  [indicadores_rsc, rrhh_altas, rrhh_bajas, r_rh...

In [84]:
project_with_tables_nan['tables']

0    [plantilla_mensual, tipo_contrato, categoria_p...
1    [plantilla_mensual, brecha_salarios, tipo_cont...
2    [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3    [entidades_rrhh, indicadores_rrhh, periodos_in...
4    [indicadores_rsc, rrhh_altas, rrhh_bajas, r_rh...
5    [brecha_salarial, brecha_ajustada, ids_a_exclu...
6    [plantilla_anual, movimientos_plantilla_unica,...
7    [d_hs_causa, tipo_contrato, d_hs_empresa, d_hs...
8    [canal_gestion_responsable, criticidad, delega...
9    [gen_cuestionario, gen_ambito1, gestdoc_ambito...
Name: tables, dtype: object

In [85]:
project_with_tables_nan['tables'].isnull().values.any()

False

Creating a dictionary for projects and table names where index will be the type of project and the values the list of tables

In [86]:
tables_dict_nan = {}

for index, row in project_with_tables_nan.iterrows():
    tables_dict_nan[index] = row[1]

In [87]:
tables_dict_nan

{0: ['plantilla_mensual',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 1: ['plantilla_mensual',
  'brecha_salarios',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 2: ['rrhh_absentismo',
  'rrhh_altas',
  'rrhh_bajas',
  'rhhh_plantilla',
  'rrhh_contratacion',
  'rrhh_indicadores',
  'rrhh_jornada_trabajo',
  'rrhhh_datos',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 3: ['entidades_rrhh',
  'indicadores_rrhh',
  'periodos_informes_rrhh',
  'valores_informe_rrhh',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 4: ['indicadores_rsc',
  'rrhh_altas',
  'rrhh_bajas',
  'r_rhh_tipo_entidad_juridica',
  'responsables_de_sociedades_juridicas',
  'rrhh_carga_indicadores',
  'rrhh_carga_indicadores_mes',
  nan,
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades'],
 5: ['brecha_salarial',
  'brecha_ajustada',
  'ids_a_excluir_brecha',
  'percentiles_brecha_salarial',
  'matriculas_a_obviar_brecha',
  'permisos_brecha_salarial',
  'import_brecha',
  'rrhh_altas',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 6: ['plantilla_anual',
  'movimientos_plantilla_unica',
  'movimientos_cierre_mes',
  'tipo_de_modificacion',
  'versiones_plantilla_unica',
  'sbq_movimientos_periodo_anterios',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 7: ['d_hs_causa',
  'tipo_contrato',
  'd_hs_empresa',
  'd_hs_presentado',
  'd_hs_tareas',
  'd_hs_territorio',
  'd_hs_tipo_accidente_externo',
  'd_hs_unidad',
  't_hs_accidentes_externos',
  't_hs_comunicacion_investigacion_accidentes',
  nan,
  nan,
  nan,
  nan],
 8: ['canal_gestion_responsable',
  'criticidad',
  'delegaciones',
  'emails_del_gestor',
  'logs_de_emails',
  'plantillas_emails',
  'tipologias_de_consultas_comerciales',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 9: ['gen_cuestionario',
  'gen_ambito1',
  'gestdoc_ambito2',
  'preguntas',
  'respuestas',
  'resultados',
  'planes_de_accion',
  'palancas',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]}

In [88]:
project_id_dict = {}

for index, row in project_with_tables_nan.iterrows():
    project_id_dict[index] = row[0]

In [89]:
project_id_dict

{0: 'rrhh',
 1: 'brecha_salarial',
 2: 'rrhh',
 3: 'rrhh',
 4: 'rrhh',
 5: 'brecha_salarial',
 6: 'rrhh',
 7: 'seguridad_y_salud',
 8: 'canal_negocio_responsable',
 9: 'operaciones'}

We remove all the NaN elements in the list inside the dictionary

In [90]:
tablesdict = {}
count=0
for list_ in tables_dict_nan.values():
    vector=[]
    
    for item in list_:
        
        if str(item) != 'nan':
            vector.append(str(item))
   
            
    tablesdict[count]= vector
    count+=1

In [91]:
tablesdict

{0: ['plantilla_mensual',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo'],
 1: ['plantilla_mensual',
  'brecha_salarios',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo'],
 2: ['rrhh_absentismo',
  'rrhh_altas',
  'rrhh_bajas',
  'rhhh_plantilla',
  'rrhh_contratacion',
  'rrhh_indicadores',
  'rrhh_jornada_trabajo',
  'rrhhh_datos'],
 3: ['entidades_rrhh',
  'indicadores_rrhh',
  'periodos_informes_rrhh',
  'valores_informe_rrhh'],
 4: ['indicadores_rsc',
  'rrhh_altas',
  'rrhh_bajas',
  'r_rhh_tipo_entidad_juridica',
  'responsables_de_sociedades_juridicas',
  'rrhh_carga_indicadores',
  'rrhh_carga_indicadores_mes',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades'],
 5: ['brecha_salarial',
  'brecha_ajustada',
  'ids_a_excluir_brecha',
  'percentiles_brecha_salarial',
  'matriculas_a_obviar_brecha',
  'permisos_brecha_salarial',
  'import_brecha',
  'rrhh_altas'],
 6: ['plantilla_anual',
  'movimientos_plantilla_unica',
  'movimientos_cierre_mes',
  'tipo_de_modificacion',
  'versiones_plantilla_unica',
  'sbq_movimientos_periodo_anterios'],
 7: ['d_hs_causa',
  'tipo_contrato',
  'd_hs_empresa',
  'd_hs_presentado',
  'd_hs_tareas',
  'd_hs_territorio',
  'd_hs_tipo_accidente_externo',
  'd_hs_unidad',
  't_hs_accidentes_externos',
  't_hs_comunicacion_investigacion_accidentes'],
 8: ['canal_gestion_responsable',
  'criticidad',
  'delegaciones',
  'emails_del_gestor',
  'logs_de_emails',
  'plantillas_emails',
  'tipologias_de_consultas_comerciales'],
 9: ['gen_cuestionario',
  'gen_ambito1',
  'gestdoc_ambito2',
  'preguntas',
  'respuestas',
  'resultados',
  'planes_de_accion',
  'palancas']}

We create a df with all types of tables

In [92]:
all_tables = pd.DataFrame()
vector = []

for list_ in tablesdict.values():
   for item in list_: 
    vector.append(item)

In [93]:
all_tables = all_tables.append(vector)

all_tables

                        0
0       plantilla_mensual
1           tipo_contrato
2   categoria_profesional
3     empleados_excluidos
4            nacionalidad
..                    ...
72              preguntas
73             respuestas
74             resultados
75       planes_de_accion
76               palancas

[77 rows x 1 columns]

In [94]:
all_tables = all_tables.drop_duplicates()

In [95]:
id_tables = {}

count=0

for index, row in all_tables.iterrows():
  id_tables[count] = row[0]
  count+=1

In [96]:
id_tables

{0: 'plantilla_mensual',
 1: 'tipo_contrato',
 2: 'categoria_profesional',
 3: 'empleados_excluidos',
 4: 'nacionalidad',
 5: 'pais_trabajo',
 6: 'brecha_salarios',
 7: 'rrhh_absentismo',
 8: 'rrhh_altas',
 9: 'rrhh_bajas',
 10: 'rhhh_plantilla',
 11: 'rrhh_contratacion',
 12: 'rrhh_indicadores',
 13: 'rrhh_jornada_trabajo',
 14: 'rrhhh_datos',
 15: 'entidades_rrhh',
 16: 'indicadores_rrhh',
 17: 'periodos_informes_rrhh',
 18: 'valores_informe_rrhh',
 19: 'indicadores_rsc',
 20: 'r_rhh_tipo_entidad_juridica',
 21: 'responsables_de_sociedades_juridicas',
 22: 'rrhh_carga_indicadores',
 23: 'rrhh_carga_indicadores_mes',
 24: 'u_rhh_carga_subactividades',
 25: 'brecha_salarial',
 26: 'brecha_ajustada',
 27: 'ids_a_excluir_brecha',
 28: 'percentiles_brecha_salarial',
 29: 'matriculas_a_obviar_brecha',
 30: 'permisos_brecha_salarial',
 31: 'import_brecha',
 32: 'plantilla_anual',
 33: 'movimientos_plantilla_unica',
 34: 'movimientos_cierre_mes',
 35: 'tipo_de_modificacion',
 36: 'versiones_plantilla_unica',
 37: 'sbq_movimientos_periodo_anterios',
 38: 'd_hs_causa',
 39: 'd_hs_empresa',
 40: 'd_hs_presentado',
 41: 'd_hs_tareas',
 42: 'd_hs_territorio',
 43: 'd_hs_tipo_accidente_externo',
 44: 'd_hs_unidad',
 45: 't_hs_accidentes_externos',
 46: 't_hs_comunicacion_investigacion_accidentes',
 47: 'canal_gestion_responsable',
 48: 'criticidad',
 49: 'delegaciones',
 50: 'emails_del_gestor',
 51: 'logs_de_emails',
 52: 'plantillas_emails',
 53: 'tipologias_de_consultas_comerciales',
 54: 'gen_cuestionario',
 55: 'gen_ambito1',
 56: 'gestdoc_ambito2',
 57: 'preguntas',
 58: 'respuestas',
 59: 'resultados',
 60: 'planes_de_accion',
 61: 'palancas'}

In [97]:
# Define a function that retrieves all the ids and names for tables containing 'text' in its title
def returnItemId(text, ids):
    """
    :param text: string to be looked for in tables name
    :param ids: dicttionary of {id:title}
    
    :return: a list of (id,title) if text found in tables name, and an empty list otherwise.
    """
    # convert input text to lowercase

    text_ = text.lower()
    
    # find occurances
    search = [(k, v .lower().find(text_)) for k, v in list(ids.items())]
    
    # Get the IDs corresponding to the given text
    index = [k for k, v in search if v > -1]
    
    # Return a list with the id and the name
    out = []
    for i in index:
        out.append((i, ids[i]))
        
    
    return out

In [98]:
returnItemId('altas', id_tables)

[(8, 'rrhh_altas')]

In [99]:
print(len(set(id_tables.keys())))
print(len(set(id_tables.values())))

62
62

We create a df with the dictionary with the columns as the index of the projects

In [100]:
projects = pd.DataFrame.from_dict(tables_dict_nan, orient='index').reset_index()

projects

   index  ...                          13
0      0  ...                         NaN
1      1  ...                         NaN
2      2  ...                         NaN
3      3  ...                         NaN
4      4  ...  u_rhh_carga_subactividades
5      5  ...                         NaN
6      6  ...                         NaN
7      7  ...                         NaN
8      8  ...                         NaN
9      9  ...                         NaN

[10 rows x 15 columns]

In [101]:
dummies_projects = pd.get_dummies(projects)

dummies_projects

   index  ...  13_u_rhh_carga_subactividades
0      0  ...                              0
1      1  ...                              0
2      2  ...                              0
3      3  ...                              0
4      4  ...                              1
5      5  ...                              0
6      6  ...                              0
7      7  ...                              0
8      8  ...                              0
9      9  ...                              0

[10 rows x 74 columns]

In [102]:
projects_reset = pd.DataFrame.from_dict(tables_dict_nan)

projects_reset

                        0  ...                 9
0       plantilla_mensual  ...  gen_cuestionario
1           tipo_contrato  ...       gen_ambito1
2   categoria_profesional  ...   gestdoc_ambito2
3     empleados_excluidos  ...         preguntas
4            nacionalidad  ...        respuestas
5            pais_trabajo  ...        resultados
6                     NaN  ...  planes_de_accion
7                     NaN  ...          palancas
8                     NaN  ...               NaN
9                     NaN  ...               NaN
10                    NaN  ...               NaN
11                    NaN  ...               NaN
12                    NaN  ...               NaN
13                    NaN  ...               NaN

[14 rows x 10 columns]

In [103]:
projects_array = projects.iloc[:, :].values

In [104]:
projects_array

array([[0, 'plantilla_mensual', 'tipo_contrato', 'categoria_profesional',
        'empleados_excluidos', 'nacionalidad', 'pais_trabajo', nan, nan,
        nan, nan, nan, nan, nan, nan],
       [1, 'plantilla_mensual', 'brecha_salarios', 'tipo_contrato',
        'categoria_profesional', 'empleados_excluidos', 'nacionalidad',
        'pais_trabajo', nan, nan, nan, nan, nan, nan, nan],
       [2, 'rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas',
        'rhhh_plantilla', 'rrhh_contratacion', 'rrhh_indicadores',
        'rrhh_jornada_trabajo', 'rrhhh_datos', nan, nan, nan, nan, nan,
        nan],
       [3, 'entidades_rrhh', 'indicadores_rrhh',
        'periodos_informes_rrhh', 'valores_informe_rrhh', nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan],
       [4, 'indicadores_rsc', 'rrhh_altas', 'rrhh_bajas',
        'r_rhh_tipo_entidad_juridica',
        'responsables_de_sociedades_juridicas', 'rrhh_carga_indicadores',
        'rrhh_carga_indicadores_mes', nan, 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades'],
       [5, 'brecha_salarial', 'brecha_ajustada', 'ids_a_excluir_brecha',
        'percentiles_brecha_salarial', 'matriculas_a_obviar_brecha',
        'permisos_brecha_salarial', 'import_brecha', 'rrhh_altas', nan,
        nan, nan, nan, nan, nan],
       [6, 'plantilla_anual', 'movimientos_plantilla_unica',
        'movimientos_cierre_mes', 'tipo_de_modificacion',
        'versiones_plantilla_unica', 'sbq_movimientos_periodo_anterios',
        nan, nan, nan, nan, nan, nan, nan, nan],
       [7, 'd_hs_causa', 'tipo_contrato', 'd_hs_empresa',
        'd_hs_presentado', 'd_hs_tareas', 'd_hs_territorio',
        'd_hs_tipo_accidente_externo', 'd_hs_unidad',
        't_hs_accidentes_externos',
        't_hs_comunicacion_investigacion_accidentes', nan, nan, nan, nan],
       [8, 'canal_gestion_responsable', 'criticidad', 'delegaciones',
        'emails_del_gestor', 'logs_de_emails', 'plantillas_emails',
        'tipologias_de_consultas_comerciales', nan, nan, nan, nan, nan,
        nan, nan],
       [9, 'gen_cuestionario', 'gen_ambito1', 'gestdoc_ambito2',
        'preguntas', 'respuestas', 'resultados', 'planes_de_accion',
        'palancas', nan, nan, nan, nan, nan, nan]], dtype=object)

In [105]:
from sklearn.preprocessing import LabelEncoder

In [106]:
table = LabelEncoder()

In [107]:
projects_array

array([[0, 'plantilla_mensual', 'tipo_contrato', 'categoria_profesional',
        'empleados_excluidos', 'nacionalidad', 'pais_trabajo', nan, nan,
        nan, nan, nan, nan, nan, nan],
       [1, 'plantilla_mensual', 'brecha_salarios', 'tipo_contrato',
        'categoria_profesional', 'empleados_excluidos', 'nacionalidad',
        'pais_trabajo', nan, nan, nan, nan, nan, nan, nan],
       [2, 'rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas',
        'rhhh_plantilla', 'rrhh_contratacion', 'rrhh_indicadores',
        'rrhh_jornada_trabajo', 'rrhhh_datos', nan, nan, nan, nan, nan,
        nan],
       [3, 'entidades_rrhh', 'indicadores_rrhh',
        'periodos_informes_rrhh', 'valores_informe_rrhh', nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan],
       [4, 'indicadores_rsc', 'rrhh_altas', 'rrhh_bajas',
        'r_rhh_tipo_entidad_juridica',
        'responsables_de_sociedades_juridicas', 'rrhh_carga_indicadores',
        'rrhh_carga_indicadores_mes', nan, 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades'],
       [5, 'brecha_salarial', 'brecha_ajustada', 'ids_a_excluir_brecha',
        'percentiles_brecha_salarial', 'matriculas_a_obviar_brecha',
        'permisos_brecha_salarial', 'import_brecha', 'rrhh_altas', nan,
        nan, nan, nan, nan, nan],
       [6, 'plantilla_anual', 'movimientos_plantilla_unica',
        'movimientos_cierre_mes', 'tipo_de_modificacion',
        'versiones_plantilla_unica', 'sbq_movimientos_periodo_anterios',
        nan, nan, nan, nan, nan, nan, nan, nan],
       [7, 'd_hs_causa', 'tipo_contrato', 'd_hs_empresa',
        'd_hs_presentado', 'd_hs_tareas', 'd_hs_territorio',
        'd_hs_tipo_accidente_externo', 'd_hs_unidad',
        't_hs_accidentes_externos',
        't_hs_comunicacion_investigacion_accidentes', nan, nan, nan, nan],
       [8, 'canal_gestion_responsable', 'criticidad', 'delegaciones',
        'emails_del_gestor', 'logs_de_emails', 'plantillas_emails',
        'tipologias_de_consultas_comerciales', nan, nan, nan, nan, nan,
        nan, nan],
       [9, 'gen_cuestionario', 'gen_ambito1', 'gestdoc_ambito2',
        'preguntas', 'respuestas', 'resultados', 'planes_de_accion',
        'palancas', nan, nan, nan, nan, nan, nan]], dtype=object)

In [108]:
projects_array[:, 1]= table.fit_transform(projects_array[:, 1]) #vectorizamos la primera columna

In [109]:
projects_array[:,3]= table.fit_transform(projects_array[:,3])

In [110]:
projects_array[:,2:]

array([['tipo_contrato', 0, 'empleados_excluidos', 'nacionalidad',
        'pais_trabajo', nan, nan, nan, nan, nan, nan, nan, nan],
       ['brecha_salarios', 8, 'categoria_profesional',
        'empleados_excluidos', 'nacionalidad', 'pais_trabajo', nan, nan,
        nan, nan, nan, nan, nan],
       ['rrhh_altas', 7, 'rhhh_plantilla', 'rrhh_contratacion',
        'rrhh_indicadores', 'rrhh_jornada_trabajo', 'rrhhh_datos', nan,
        nan, nan, nan, nan, nan],
       ['indicadores_rrhh', 6, 'valores_informe_rrhh', nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan],
       ['rrhh_altas', 7, 'r_rhh_tipo_entidad_juridica',
        'responsables_de_sociedades_juridicas', 'rrhh_carga_indicadores',
        'rrhh_carga_indicadores_mes', nan, 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades',
        'u_rhh_carga_subactividades'],
       ['brecha_ajustada', 4, 'percentiles_brecha_salarial',
        'matriculas_a_obviar_brecha', 'permisos_brecha_salarial',
        'import_brecha', 'rrhh_altas', nan, nan, nan, nan, nan, nan],
       ['movimientos_plantilla_unica', 5, 'tipo_de_modificacion',
        'versiones_plantilla_unica', 'sbq_movimientos_periodo_anterios',
        nan, nan, nan, nan, nan, nan, nan, nan],
       ['tipo_contrato', 1, 'd_hs_presentado', 'd_hs_tareas',
        'd_hs_territorio', 'd_hs_tipo_accidente_externo', 'd_hs_unidad',
        't_hs_accidentes_externos',
        't_hs_comunicacion_investigacion_accidentes', nan, nan, nan, nan],
       ['criticidad', 2, 'emails_del_gestor', 'logs_de_emails',
        'plantillas_emails', 'tipologias_de_consultas_comerciales', nan,
        nan, nan, nan, nan, nan, nan],
       ['gen_ambito1', 3, 'preguntas', 'respuestas', 'resultados',
        'planes_de_accion', 'palancas', nan, nan, nan, nan, nan, nan]],
      dtype=object)

In [111]:
from sklearn.metrics.pairwise import cosine_similarity

In [112]:
project_with_tables_nan

                     Project                                             tables
0                       rrhh  [plantilla_mensual, tipo_contrato, categoria_p...
1            brecha_salarial  [plantilla_mensual, brecha_salarios, tipo_cont...
2                       rrhh  [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3                       rrhh  [entidades_rrhh, indicadores_rrhh, periodos_in...
4                       rrhh  [indicadores_rsc, rrhh_altas, rrhh_bajas, r_rh...
5            brecha_salarial  [brecha_salarial, brecha_ajustada, ids_a_exclu...
6                       rrhh  [plantilla_anual, movimientos_plantilla_unica,...
7          seguridad_y_salud  [d_hs_causa, tipo_contrato, d_hs_empresa, d_hs...
8  canal_negocio_responsable  [canal_gestion_responsable, criticidad, delega...
9                operaciones  [gen_cuestionario, gen_ambito1, gestdoc_ambito...

In [113]:
##convertimos todos los valores de la lista de nombre de tablas a str para poder pasarselo al countvectorizer

In [114]:
project_with_tables_nan['tables'] = project_with_tables_nan['tables'].astype('str')

In [115]:
for list_ in project_with_tables_nan['tables']:
  print(list_)
  print((list_.split()))

['plantilla_mensual', 'tipo_contrato', 'categoria_profesional', 'empleados_excluidos', 'nacionalidad', 'pais_trabajo', nan, nan, nan, nan, nan, nan, nan, nan]
["['plantilla_mensual',", "'tipo_contrato',", "'categoria_profesional',", "'empleados_excluidos',", "'nacionalidad',", "'pais_trabajo',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['plantilla_mensual', 'brecha_salarios', 'tipo_contrato', 'categoria_profesional', 'empleados_excluidos', 'nacionalidad', 'pais_trabajo', nan, nan, nan, nan, nan, nan, nan]
["['plantilla_mensual',", "'brecha_salarios',", "'tipo_contrato',", "'categoria_profesional',", "'empleados_excluidos',", "'nacionalidad',", "'pais_trabajo',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas', 'rhhh_plantilla', 'rrhh_contratacion', 'rrhh_indicadores', 'rrhh_jornada_trabajo', 'rrhhh_datos', nan, nan, nan, nan, nan, nan]
["['rrhh_absentismo',", "'rrhh_altas',", "'rrhh_bajas',", "'rhhh_plantilla',", "'rrhh_contratacion',", "'rrhh_indicadores',", "'rrhh_jornada_trabajo',", "'rrhhh_datos',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['entidades_rrhh', 'indicadores_rrhh', 'periodos_informes_rrhh', 'valores_informe_rrhh', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
["['entidades_rrhh',", "'indicadores_rrhh',", "'periodos_informes_rrhh',", "'valores_informe_rrhh',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas', 'r_rhh_tipo_entidad_juridica', 'responsables_de_sociedades_juridicas', 'rrhh_carga_indicadores', 'rrhh_carga_indicadores_mes', nan, 'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades', 'u_rhh_carga_subactividades']
["['indicadores_rsc',", "'rrhh_altas',", "'rrhh_bajas',", "'r_rhh_tipo_entidad_juridica',", "'responsables_de_sociedades_juridicas',", "'rrhh_carga_indicadores',", "'rrhh_carga_indicadores_mes',", 'nan,', "'u_rhh_carga_subactividades',", "'u_rhh_carga_subactividades',", "'u_rhh_carga_subactividades',", "'u_rhh_carga_subactividades',", "'u_rhh_carga_subactividades',", "'u_rhh_carga_subactividades']"]
['brecha_salarial', 'brecha_ajustada', 'ids_a_excluir_brecha', 'percentiles_brecha_salarial', 'matriculas_a_obviar_brecha', 'permisos_brecha_salarial', 'import_brecha', 'rrhh_altas', nan, nan, nan, nan, nan, nan]
["['brecha_salarial',", "'brecha_ajustada',", "'ids_a_excluir_brecha',", "'percentiles_brecha_salarial',", "'matriculas_a_obviar_brecha',", "'permisos_brecha_salarial',", "'import_brecha',", "'rrhh_altas',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['plantilla_anual', 'movimientos_plantilla_unica', 'movimientos_cierre_mes', 'tipo_de_modificacion', 'versiones_plantilla_unica', 'sbq_movimientos_periodo_anterios', nan, nan, nan, nan, nan, nan, nan, nan]
["['plantilla_anual',", "'movimientos_plantilla_unica',", "'movimientos_cierre_mes',", "'tipo_de_modificacion',", "'versiones_plantilla_unica',", "'sbq_movimientos_periodo_anterios',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['d_hs_causa', 'tipo_contrato', 'd_hs_empresa', 'd_hs_presentado', 'd_hs_tareas', 'd_hs_territorio', 'd_hs_tipo_accidente_externo', 'd_hs_unidad', 't_hs_accidentes_externos', 't_hs_comunicacion_investigacion_accidentes', nan, nan, nan, nan]
["['d_hs_causa',", "'tipo_contrato',", "'d_hs_empresa',", "'d_hs_presentado',", "'d_hs_tareas',", "'d_hs_territorio',", "'d_hs_tipo_accidente_externo',", "'d_hs_unidad',", "'t_hs_accidentes_externos',", "'t_hs_comunicacion_investigacion_accidentes',", 'nan,', 'nan,', 'nan,', 'nan]']
['canal_gestion_responsable', 'criticidad', 'delegaciones', 'emails_del_gestor', 'logs_de_emails', 'plantillas_emails', 'tipologias_de_consultas_comerciales', nan, nan, nan, nan, nan, nan, nan]
["['canal_gestion_responsable',", "'criticidad',", "'delegaciones',", "'emails_del_gestor',", "'logs_de_emails',", "'plantillas_emails',", "'tipologias_de_consultas_comerciales',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']
['gen_cuestionario', 'gen_ambito1', 'gestdoc_ambito2', 'preguntas', 'respuestas', 'resultados', 'planes_de_accion', 'palancas', nan, nan, nan, nan, nan, nan]
["['gen_cuestionario',", "'gen_ambito1',", "'gestdoc_ambito2',", "'preguntas',", "'respuestas',", "'resultados',", "'planes_de_accion',", "'palancas',", 'nan,', 'nan,', 'nan,', 'nan,', 'nan,', 'nan]']

We are going to generate a sparse matrix from our tables with CountVectorizer from Sklearn

In [116]:
from sklearn.feature_extraction.text import CountVectorizer

In [117]:
cv = CountVectorizer()

In [118]:
X = cv.fit_transform(project_with_tables_nan['tables'])

In [119]:
project_with_tables_nan['tables']

0    ['plantilla_mensual', 'tipo_contrato', 'catego...
1    ['plantilla_mensual', 'brecha_salarios', 'tipo...
2    ['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas'...
3    ['entidades_rrhh', 'indicadores_rrhh', 'period...
4    ['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas'...
5    ['brecha_salarial', 'brecha_ajustada', 'ids_a_...
6    ['plantilla_anual', 'movimientos_plantilla_uni...
7    ['d_hs_causa', 'tipo_contrato', 'd_hs_empresa'...
8    ['canal_gestion_responsable', 'criticidad', 'd...
9    ['gen_cuestionario', 'gen_ambito1', 'gestdoc_a...
Name: tables, dtype: object

In [120]:
print(cv.get_feature_names())

['brecha_ajustada', 'brecha_salarial', 'brecha_salarios', 'canal_gestion_responsable', 'categoria_profesional', 'criticidad', 'd_hs_causa', 'd_hs_empresa', 'd_hs_presentado', 'd_hs_tareas', 'd_hs_territorio', 'd_hs_tipo_accidente_externo', 'd_hs_unidad', 'delegaciones', 'emails_del_gestor', 'empleados_excluidos', 'entidades_rrhh', 'gen_ambito1', 'gen_cuestionario', 'gestdoc_ambito2', 'ids_a_excluir_brecha', 'import_brecha', 'indicadores_rrhh', 'indicadores_rsc', 'logs_de_emails', 'matriculas_a_obviar_brecha', 'movimientos_cierre_mes', 'movimientos_plantilla_unica', 'nacionalidad', 'nan', 'pais_trabajo', 'palancas', 'percentiles_brecha_salarial', 'periodos_informes_rrhh', 'permisos_brecha_salarial', 'planes_de_accion', 'plantilla_anual', 'plantilla_mensual', 'plantillas_emails', 'preguntas', 'r_rhh_tipo_entidad_juridica', 'responsables_de_sociedades_juridicas', 'respuestas', 'resultados', 'rhhh_plantilla', 'rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas', 'rrhh_carga_indicadores', 'rrhh_carga_indicadores_mes', 'rrhh_contratacion', 'rrhh_indicadores', 'rrhh_jornada_trabajo', 'rrhhh_datos', 'sbq_movimientos_periodo_anterios', 't_hs_accidentes_externos', 't_hs_comunicacion_investigacion_accidentes', 'tipo_contrato', 'tipo_de_modificacion', 'tipologias_de_consultas_comerciales', 'u_rhh_carga_subactividades', 'valores_informe_rrhh', 'versiones_plantilla_unica']



show resulting vocabulary; the numbers are not counts, they are the position in the sparse vector.

In [121]:
cv.vocabulary_

{'brecha_ajustada': 0,
 'brecha_salarial': 1,
 'brecha_salarios': 2,
 'canal_gestion_responsable': 3,
 'categoria_profesional': 4,
 'criticidad': 5,
 'd_hs_causa': 6,
 'd_hs_empresa': 7,
 'd_hs_presentado': 8,
 'd_hs_tareas': 9,
 'd_hs_territorio': 10,
 'd_hs_tipo_accidente_externo': 11,
 'd_hs_unidad': 12,
 'delegaciones': 13,
 'emails_del_gestor': 14,
 'empleados_excluidos': 15,
 'entidades_rrhh': 16,
 'gen_ambito1': 17,
 'gen_cuestionario': 18,
 'gestdoc_ambito2': 19,
 'ids_a_excluir_brecha': 20,
 'import_brecha': 21,
 'indicadores_rrhh': 22,
 'indicadores_rsc': 23,
 'logs_de_emails': 24,
 'matriculas_a_obviar_brecha': 25,
 'movimientos_cierre_mes': 26,
 'movimientos_plantilla_unica': 27,
 'nacionalidad': 28,
 'nan': 29,
 'pais_trabajo': 30,
 'palancas': 31,
 'percentiles_brecha_salarial': 32,
 'periodos_informes_rrhh': 33,
 'permisos_brecha_salarial': 34,
 'planes_de_accion': 35,
 'plantilla_anual': 36,
 'plantilla_mensual': 37,
 'plantillas_emails': 38,
 'preguntas': 39,
 'r_rhh_tipo_entidad_juridica': 40,
 'responsables_de_sociedades_juridicas': 41,
 'respuestas': 42,
 'resultados': 43,
 'rhhh_plantilla': 44,
 'rrhh_absentismo': 45,
 'rrhh_altas': 46,
 'rrhh_bajas': 47,
 'rrhh_carga_indicadores': 48,
 'rrhh_carga_indicadores_mes': 49,
 'rrhh_contratacion': 50,
 'rrhh_indicadores': 51,
 'rrhh_jornada_trabajo': 52,
 'rrhhh_datos': 53,
 'sbq_movimientos_periodo_anterios': 54,
 't_hs_accidentes_externos': 55,
 't_hs_comunicacion_investigacion_accidentes': 56,
 'tipo_contrato': 57,
 'tipo_de_modificacion': 58,
 'tipologias_de_consultas_comerciales': 59,
 'u_rhh_carga_subactividades': 60,
 'valores_informe_rrhh': 61,
 'versiones_plantilla_unica': 62}

In [122]:
X.shape ##Shape of our matriz

(10, 63)

In [123]:
print(X.toarray())

[[ 0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
   0  0  0  0  1  8  1  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  1  0  0  0  0  0]
 [ 0  0  1  0  1  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0
   0  0  0  0  1  7  1  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  1  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  6  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  1  1  1
   0  0  1  1  1  1  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  0  0  0  0  0  1  0
   0  0  0  0  0 10  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  1  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1
   0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  1  1  0  0  0  0  1  1
   1  1  0  0  0  0  0  0  0  0  0  0  6  0  0]
 [ 1  1  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  1  0  0
   0  1  0  0  0  6  0  0  1  0  1  0  0  0  0  0  0  0  0  0  0  0  1  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  1  1  0  8  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  1  0  0  0  1  0  0  0  1]
 [ 0  0  0  0  0  0  1  1  1  1  1  1  1  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  4  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  1  1  1  0  0  0  0  0]
 [ 0  0  0  1  0  1  0  0  0  0  0  0  0  1  1  0  0  0  0  0  0  0  0  0
   1  0  0  0  0  7  0  0  0  0  0  0  0  0  1  0  0  0  0  0  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  1  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  1  1  1  0  0  0  0
   0  0  0  0  0  6  0  1  0  0  0  1  0  0  0  1  0  0  1  1  0  0  0  0
   0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]]

In [124]:
df_sparse_matrix = pd.DataFrame(data = X.toarray(), index = project_with_tables_nan['tables'], columns=cv.get_feature_names())
df_sparse_matrix

                                                    brecha_ajustada  ...  versiones_plantilla_unica
tables                                                               ...
['plantilla_mensual', 'tipo_contrato', 'categor...                0  ...                          0
['plantilla_mensual', 'brecha_salarios', 'tipo_...                0  ...                          0
['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas',...                0  ...                          0
['entidades_rrhh', 'indicadores_rrhh', 'periodo...                0  ...                          0
['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas',...                0  ...                          0
['brecha_salarial', 'brecha_ajustada', 'ids_a_e...                1  ...                          0
['plantilla_anual', 'movimientos_plantilla_unic...                0  ...                          1
['d_hs_causa', 'tipo_contrato', 'd_hs_empresa',...                0  ...                          0
['canal_gestion_responsable', 'criticidad', 'de...                0  ...                          0
['gen_cuestionario', 'gen_ambito1', 'gestdoc_am...                0  ...                          0

[10 rows x 63 columns]

In [125]:
df_sparse_matrix.columns.tolist()

['brecha_ajustada',
 'brecha_salarial',
 'brecha_salarios',
 'canal_gestion_responsable',
 'categoria_profesional',
 'criticidad',
 'd_hs_causa',
 'd_hs_empresa',
 'd_hs_presentado',
 'd_hs_tareas',
 'd_hs_territorio',
 'd_hs_tipo_accidente_externo',
 'd_hs_unidad',
 'delegaciones',
 'emails_del_gestor',
 'empleados_excluidos',
 'entidades_rrhh',
 'gen_ambito1',
 'gen_cuestionario',
 'gestdoc_ambito2',
 'ids_a_excluir_brecha',
 'import_brecha',
 'indicadores_rrhh',
 'indicadores_rsc',
 'logs_de_emails',
 'matriculas_a_obviar_brecha',
 'movimientos_cierre_mes',
 'movimientos_plantilla_unica',
 'nacionalidad',
 'nan',
 'pais_trabajo',
 'palancas',
 'percentiles_brecha_salarial',
 'periodos_informes_rrhh',
 'permisos_brecha_salarial',
 'planes_de_accion',
 'plantilla_anual',
 'plantilla_mensual',
 'plantillas_emails',
 'preguntas',
 'r_rhh_tipo_entidad_juridica',
 'responsables_de_sociedades_juridicas',
 'respuestas',
 'resultados',
 'rhhh_plantilla',
 'rrhh_absentismo',
 'rrhh_altas',
 'rrhh_bajas',
 'rrhh_carga_indicadores',
 'rrhh_carga_indicadores_mes',
 'rrhh_contratacion',
 'rrhh_indicadores',
 'rrhh_jornada_trabajo',
 'rrhhh_datos',
 'sbq_movimientos_periodo_anterios',
 't_hs_accidentes_externos',
 't_hs_comunicacion_investigacion_accidentes',
 'tipo_contrato',
 'tipo_de_modificacion',
 'tipologias_de_consultas_comerciales',
 'u_rhh_carga_subactividades',
 'valores_informe_rrhh',
 'versiones_plantilla_unica']

We drop all NaN values from our matrix

In [126]:
df_sparse_matrix.drop(columns={'nan'}, inplace=True)

If we sum all the values in a row we obtain the number of tables the project have

In [127]:


cols_to_sum = df_sparse_matrix.columns[ : df_sparse_matrix.shape[1]-1]

df_sparse_matrix['Sum Total'] = df_sparse_matrix[cols_to_sum].sum(axis=1)

df_sparse_matrix

                                                    brecha_ajustada  ...  Sum Total
tables                                                               ...
['plantilla_mensual', 'tipo_contrato', 'categor...                0  ...          6
['plantilla_mensual', 'brecha_salarios', 'tipo_...                0  ...          7
['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas',...                0  ...          8
['entidades_rrhh', 'indicadores_rrhh', 'periodo...                0  ...          4
['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas',...                0  ...         13
['brecha_salarial', 'brecha_ajustada', 'ids_a_e...                1  ...          8
['plantilla_anual', 'movimientos_plantilla_unic...                0  ...          5
['d_hs_causa', 'tipo_contrato', 'd_hs_empresa',...                0  ...         10
['canal_gestion_responsable', 'criticidad', 'de...                0  ...          7
['gen_cuestionario', 'gen_ambito1', 'gestdoc_am...                0  ...          8

[10 rows x 63 columns]

We sum all columns and transpose the df to obtain the number of times a table is repeated in all projects

In [128]:
most_repeated_tables = pd.DataFrame(df_sparse_matrix.sum(axis=0)).T

most_repeated_tables

   brecha_ajustada  brecha_salarial  ...  versiones_plantilla_unica  Sum Total
0                1                1  ...                          1         76

[1 rows x 63 columns]

Now the idea is to filter our dataset from the user response of what type of project is needed, and recommend the most repeated tables and if there aren't any option repeated recommend something. As this system is going to be feeded from the users response is going to be in continuous grow. Each option a user selects is going to be a new project with new tables

First we are going to obtain the mean number of tables a project have in order to see how many tables we need to present as minimun result

In [129]:
mean_tables = pd.DataFrame(df_sparse_matrix.mean(axis=0)).T

mean_tables = mean_tables['Sum Total']

mean_tables #The minimun amount of tables we have to recommend is 7

0    7.6
Name: Sum Total, dtype: float64

Input from the user and filter our dataset by the project

In [130]:
user_choice = input('Select type of project ')

Select type of project rrhh

In [131]:
user_choice

'rrhh'

In [133]:
project_filtered_nan = project_with_tables_nan[project_with_tables_nan['Project'] == user_choice]

In [134]:
project_filtered_nan

  Project                                             tables
0    rrhh  ['plantilla_mensual', 'tipo_contrato', 'catego...
2    rrhh  ['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas'...
3    rrhh  ['entidades_rrhh', 'indicadores_rrhh', 'period...
4    rrhh  ['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas'...
6    rrhh  ['plantilla_anual', 'movimientos_plantilla_uni...

We repeate same stages we did before to obtain the most repeated tables for 'rrhh' project

In [138]:
cv = CountVectorizer()
X = cv.fit_transform(project_filtered_nan['tables'])
df_sparse_matrix = pd.DataFrame(data = X.toarray(), index = project_filtered_nan['tables'], columns=cv.get_feature_names())
df_sparse_matrix.drop(columns={'nan'}, inplace=True) 
df_sparse_matrix

                                                    categoria_profesional  ...  versiones_plantilla_unica
tables                                                                     ...
['plantilla_mensual', 'tipo_contrato', 'categor...                      1  ...                          0
['rrhh_absentismo', 'rrhh_altas', 'rrhh_bajas',...                      0  ...                          0
['entidades_rrhh', 'indicadores_rrhh', 'periodo...                      0  ...                          0
['indicadores_rsc', 'rrhh_altas', 'rrhh_bajas',...                      0  ...                          0
['plantilla_anual', 'movimientos_plantilla_unic...                      0  ...                          1

[5 rows x 30 columns]

In [148]:
most_repeated_tables = pd.DataFrame(df_sparse_matrix.sum(axis=0))

most_repeated_tables.rename(columns={0:'Num'}, inplace=True)

In [165]:

most_repeated_tables  = most_repeated_tables.sort_values(by = ['Num'],ascending=False)
most_repeated_tables = most_repeated_tables.reset_index()

most_repeated_tables

    level_0                                 index  Num
0         0            u_rhh_carga_subactividades    6
1         2                            rrhh_bajas    2
2         1                            rrhh_altas    2
3        16                rrhh_carga_indicadores    1
4        28                       rrhh_absentismo    1
5        27                 categoria_profesional    1
6        26                   empleados_excluidos    1
7        25                  valores_informe_rrhh    1
8        24                  tipo_de_modificacion    1
9        23                         tipo_contrato    1
10       22      sbq_movimientos_periodo_anterios    1
11       21                           rrhhh_datos    1
12       20                  rrhh_jornada_trabajo    1
13       19                      rrhh_indicadores    1
14       18                     rrhh_contratacion    1
15       17            rrhh_carga_indicadores_mes    1
16       15           r_rhh_tipo_entidad_juridica    1
17       14                     plantilla_mensual    1
18       13                       plantilla_anual    1
19       12                periodos_informes_rrhh    1
20       11                          pais_trabajo    1
21       10                          nacionalidad    1
22        9           movimientos_plantilla_unica    1
23        8                movimientos_cierre_mes    1
24        7                       indicadores_rsc    1
25        6                      indicadores_rrhh    1
26        5                        entidades_rrhh    1
27        4                        rhhh_plantilla    1
28        3  responsables_de_sociedades_juridicas    1
29       29             versiones_plantilla_unica    1

We get seven tables we would suggest to the user

In [174]:
seven_tables = most_repeated_tables.iloc[:8]

seven_tables.drop(columns=['level_0'], inplace=True)

seven_tables

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                        index  Num
0  u_rhh_carga_subactividades    6
1                  rrhh_bajas    2
2                  rrhh_altas    2
3      rrhh_carga_indicadores    1
4             rrhh_absentismo    1
5       categoria_profesional    1
6         empleados_excluidos    1
7        valores_informe_rrhh    1