<a href="https://colab.research.google.com/github/sarasabino/Sistema_Recomendacion_BBDD_Explotaciones/blob/main/MVP_data_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MVP - BBDD Generation recommender system

One of the main difficulties on the implementation of this project is the fact that the data needs to be standarized in order to be able to compare. 

For the purpose to present the idea in a clear way this notebook present a simple example of how the recommender system will proceed once the data is all standarized. 

This problem with the data is not going to be present once this previous work is done because once the project is in "pro" version the user will feed the system with their answers in a standarized way. It will be only be relevant to keep going the recommender as first place. 

The data use in this notebook is totally manipulated to be able to compare at first without doing the standarizing exercise as it will be taking long.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os
import time

In [75]:
from google.colab import files
uploaded = files.upload()

Saving projects_with_tables.csv to projects_with_tables (1).csv

In [76]:
test_file = pd.read_csv(io.BytesIO(uploaded['projects_with_tables.csv']), sep = ';', header=None)

In [77]:
test_file.head()

                0   ...                          14
0             RRHH  ...                         NaN
1  Brecha Salarial  ...                         NaN
2             RRHH  ...                         NaN
3             RRHH  ...                         NaN
4             RRHH  ...  u_rhh_carga_subactividades

[5 rows x 15 columns]

In [78]:
#We set all text in the df to lowercase
test_file = test_file.apply(lambda x : x.str.lower())

test_file.head()

                0   ...                          14
0             rrhh  ...                         NaN
1  brecha salarial  ...                         NaN
2             rrhh  ...                         NaN
3             rrhh  ...                         NaN
4             rrhh  ...  u_rhh_carga_subactividades

[5 rows x 15 columns]

In [79]:
#We create a new column with a list containing all tables in that project

test_file['tables'] = test_file.loc[:,test_file.columns != 0].values.tolist()

test_file.head()

                 0  ...                                             tables
0             rrhh  ...  [plantilla_mensual, tipo_contrato, categoria_p...
1  brecha salarial  ...  [plantilla_mensual, brecha_salarios, tipo_cont...
2             rrhh  ...  [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3             rrhh  ...  [entidades rrhh, indicadores rrhh, periodos in...
4             rrhh  ...  [indicadores rsc, rrhh_altas, rrhh_bajas, r_rh...

[5 rows x 16 columns]

We drop the individual table name columns in order to get a df with only the project name and the tables list

In [80]:
test_file.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 'tables'], dtype='object')

In [81]:
project_with_tables = test_file.drop(columns = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

In [82]:
project_with_tables_nan = project_with_tables.rename(columns={0:'Project'})

In [83]:
project_with_tables_nan.head()

           Project                                             tables
0             rrhh  [plantilla_mensual, tipo_contrato, categoria_p...
1  brecha salarial  [plantilla_mensual, brecha_salarios, tipo_cont...
2             rrhh  [rrhh_absentismo, rrhh_altas, rrhh_bajas, rhhh...
3             rrhh  [entidades rrhh, indicadores rrhh, periodos in...
4             rrhh  [indicadores rsc, rrhh_altas, rrhh_bajas, r_rh...

In [84]:
project_with_tables_nan['tables'].isnull().values.any()

False

Creating a dictionary for projects and table names where index will be the type of project and the values the list of tables

In [85]:
tables_dict_nan = {}

for index, row in project_with_tables_nan.iterrows():
    tables_dict_nan[index] = row[1]

In [86]:
tables_dict_nan

{0: ['plantilla_mensual',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 1: ['plantilla_mensual',
  'brecha_salarios',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 2: ['rrhh_absentismo',
  'rrhh_altas',
  'rrhh_bajas',
  'rhhh_plantilla',
  'rrhh_contratacion',
  'rrhh_indicadores',
  'rrhh_jornada_trabajo',
  'rrhhh_datos',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 3: ['entidades rrhh',
  'indicadores rrhh',
  'periodos informes rrhh',
  'valores informe rrhh',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 4: ['indicadores rsc',
  'rrhh_altas',
  'rrhh_bajas',
  'r_rhh_tipo_entidad_juridica',
  'responsables de sociedades juridicas',
  'rrhh_carga_indicadores',
  'rrhh_carga_indicadores_mes',
  nan,
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades'],
 5: ['brecha salarial',
  'brecha ajustada',
  'ids a excluir brecha',
  'percentiles brecha salarial',
  'matriculas a obviar brecha',
  'permisos brecha salarial',
  'import brecha',
  'rrhh_altas',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 6: ['plantilla_anual',
  'movimientos plantilla unica',
  'movimientos cierre mes',
  'tipo de modificacion',
  'versiones plantilla unica',
  'sbq movimientos periodo anterios',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 7: ['d_hs_causa',
  'tipo_contrato',
  'd_hs_empresa',
  'd_hs_presentado',
  'd_hs_tareas',
  'd_hs_territorio',
  'd_hs_tipo_accidente_externo',
  'd_hs_unidad',
  't_hs_accidentes_externos',
  't_hs_comunicacion_investigacion_accidentes',
  nan,
  nan,
  nan,
  nan],
 8: ['canal gestion responsable',
  'criticidad',
  'delegaciones',
  'emails del gestor',
  'logs de emails',
  'plantillas emails',
  'tipologias de consultas comerciales',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 9: ['gen_cuestionario',
  'gen_ambito1',
  'gestdoc_ambito2',
  'preguntas',
  'respuestas',
  'resultados',
  'planes de accion',
  'palancas',
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]}

In [87]:
project_id_dict = {}

for index, row in project_with_tables_nan.iterrows():
    project_id_dict[index] = row[0]

In [88]:
project_id_dict

{0: 'rrhh',
 1: 'brecha salarial',
 2: 'rrhh',
 3: 'rrhh',
 4: 'rrhh',
 5: 'brecha salarial',
 6: 'rrhh',
 7: 'seguridad y salud',
 8: 'canal negocio responsable',
 9: 'operaciones'}

We remove all the NaN elements in the list inside the dictionary

In [89]:
tablesdict = {}
count=0
for list_ in tables_dict_nan.values():
    vector=[]
    
    for item in list_:
        
        if str(item) != 'nan':
            vector.append(item)
            
    tablesdict[count]= vector
    count+=1

In [90]:
tablesdict

{0: ['plantilla_mensual',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo'],
 1: ['plantilla_mensual',
  'brecha_salarios',
  'tipo_contrato',
  'categoria_profesional',
  'empleados_excluidos',
  'nacionalidad',
  'pais_trabajo'],
 2: ['rrhh_absentismo',
  'rrhh_altas',
  'rrhh_bajas',
  'rhhh_plantilla',
  'rrhh_contratacion',
  'rrhh_indicadores',
  'rrhh_jornada_trabajo',
  'rrhhh_datos'],
 3: ['entidades rrhh',
  'indicadores rrhh',
  'periodos informes rrhh',
  'valores informe rrhh'],
 4: ['indicadores rsc',
  'rrhh_altas',
  'rrhh_bajas',
  'r_rhh_tipo_entidad_juridica',
  'responsables de sociedades juridicas',
  'rrhh_carga_indicadores',
  'rrhh_carga_indicadores_mes',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades',
  'u_rhh_carga_subactividades'],
 5: ['brecha salarial',
  'brecha ajustada',
  'ids a excluir brecha',
  'percentiles brecha salarial',
  'matriculas a obviar brecha',
  'permisos brecha salarial',
  'import brecha',
  'rrhh_altas'],
 6: ['plantilla_anual',
  'movimientos plantilla unica',
  'movimientos cierre mes',
  'tipo de modificacion',
  'versiones plantilla unica',
  'sbq movimientos periodo anterios'],
 7: ['d_hs_causa',
  'tipo_contrato',
  'd_hs_empresa',
  'd_hs_presentado',
  'd_hs_tareas',
  'd_hs_territorio',
  'd_hs_tipo_accidente_externo',
  'd_hs_unidad',
  't_hs_accidentes_externos',
  't_hs_comunicacion_investigacion_accidentes'],
 8: ['canal gestion responsable',
  'criticidad',
  'delegaciones',
  'emails del gestor',
  'logs de emails',
  'plantillas emails',
  'tipologias de consultas comerciales'],
 9: ['gen_cuestionario',
  'gen_ambito1',
  'gestdoc_ambito2',
  'preguntas',
  'respuestas',
  'resultados',
  'planes de accion',
  'palancas']}

We create a df with all types of tables

In [117]:
all_tables = pd.DataFrame()
vector = []

for list_ in tablesdict.values():
   for item in list_: 
    vector.append(item)

In [118]:
all_tables = all_tables.append(vector)

all_tables

                        0
0       plantilla_mensual
1           tipo_contrato
2   categoria_profesional
3     empleados_excluidos
4            nacionalidad
..                    ...
72              preguntas
73             respuestas
74             resultados
75       planes de accion
76               palancas

[77 rows x 1 columns]

In [177]:
all_tables = all_tables.drop_duplicates()

In [178]:
id_tables = {}

count=0

for index, row in all_tables.iterrows():
  id_tables[count] = row[0]
  count+=1

In [179]:
id_tables

{0: 'plantilla_mensual',
 1: 'tipo_contrato',
 2: 'categoria_profesional',
 3: 'empleados_excluidos',
 4: 'nacionalidad',
 5: 'pais_trabajo',
 6: 'brecha_salarios',
 7: 'rrhh_absentismo',
 8: 'rrhh_altas',
 9: 'rrhh_bajas',
 10: 'rhhh_plantilla',
 11: 'rrhh_contratacion',
 12: 'rrhh_indicadores',
 13: 'rrhh_jornada_trabajo',
 14: 'rrhhh_datos',
 15: 'entidades rrhh',
 16: 'indicadores rrhh',
 17: 'periodos informes rrhh',
 18: 'valores informe rrhh',
 19: 'indicadores rsc',
 20: 'r_rhh_tipo_entidad_juridica',
 21: 'responsables de sociedades juridicas',
 22: 'rrhh_carga_indicadores',
 23: 'rrhh_carga_indicadores_mes',
 24: 'u_rhh_carga_subactividades',
 25: 'brecha salarial',
 26: 'brecha ajustada',
 27: 'ids a excluir brecha',
 28: 'percentiles brecha salarial',
 29: 'matriculas a obviar brecha',
 30: 'permisos brecha salarial',
 31: 'import brecha',
 32: 'plantilla_anual',
 33: 'movimientos plantilla unica',
 34: 'movimientos cierre mes',
 35: 'tipo de modificacion',
 36: 'versiones plantilla unica',
 37: 'sbq movimientos periodo anterios',
 38: 'd_hs_causa',
 39: 'd_hs_empresa',
 40: 'd_hs_presentado',
 41: 'd_hs_tareas',
 42: 'd_hs_territorio',
 43: 'd_hs_tipo_accidente_externo',
 44: 'd_hs_unidad',
 45: 't_hs_accidentes_externos',
 46: 't_hs_comunicacion_investigacion_accidentes',
 47: 'canal gestion responsable',
 48: 'criticidad',
 49: 'delegaciones',
 50: 'emails del gestor',
 51: 'logs de emails',
 52: 'plantillas emails',
 53: 'tipologias de consultas comerciales',
 54: 'gen_cuestionario',
 55: 'gen_ambito1',
 56: 'gestdoc_ambito2',
 57: 'preguntas',
 58: 'respuestas',
 59: 'resultados',
 60: 'planes de accion',
 61: 'palancas'}

In [134]:
# Define a function that retrieves all the ids and names for tables containing 'text' in its title
def returnItemId(text, ids):
    """
    :param text: string to be looked for in tables name
    :param ids: dicttionary of {id:title}
    
    :return: a list of (id,title) if text found in tables name, and an empty list otherwise.
    """
    # convert input text to lowercase

    text_ = text.lower()
    
    # find occurances
    search = [(k, v .lower().find(text_)) for k, v in list(ids.items())]
    
    # Get the IDs corresponding to the given text
    index = [k for k, v in search if v > -1]
    
    # Return a list with the id and the name
    out = []
    for i in index:
        out.append((i, ids[i]))
        
    
    return out

In [135]:
returnItemId('altas', id_tables)

[(14, 'rrhh_altas'), (26, 'rrhh_altas'), (45, 'rrhh_altas')]

In [136]:
print(len(set(id_tables.keys())))
print(len(set(id_tables.values())))

77
62

In [204]:
projects = pd.DataFrame.from_dict(tablesdict, orient='index').reset_index()

projects

   index  ...                          12
0      0  ...                        None
1      1  ...                        None
2      2  ...                        None
3      3  ...                        None
4      4  ...  u_rhh_carga_subactividades
5      5  ...                        None
6      6  ...                        None
7      7  ...                        None
8      8  ...                        None
9      9  ...                        None

[10 rows x 14 columns]